﻿<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: aquamarine;
        }

        .ui-datepicker-calendar {
            display: none;
        }

        * {
            box-sizing: border-box;
        }

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: cornflowerblue;
        }

        .menu {
            float: left;
            width: 20%;
            text-align: center;
        }

        .menuitem {
            background-color: mediumaquamarine;
            padding: 10px;
            min-width: 290px;
            margin-top: 7px;
            color: white;
        }

        .main {
            float: left;
            width: 60%;
            min-width: 350px;
            padding: 0 20px;
        }

        .right {
            background-color: mediumaquamarine;
            float: left;
            width: 20%;
            min-width: 290px;
            padding: 15px;
            margin-top: 7px;
            text-align: center;
        }
    </style>

    <script type="text/javascript">

        function DrawCharts() {

            var data_humidity = new google.visualization.DataTable();
            data_humidity.addColumn('number', 'X');
            data_humidity.addColumn('number', '%');

            var data_temperature = new google.visualization.DataTable();
            data_temperature.addColumn('number', 'X');
            data_temperature.addColumn('number', '°C');

            var options_humidity = {
                title: 'Humidity Trend',
                hAxis: {},
                vAxis: { title: 'Humidity' }
            };

            var options_temperature = {
                title: 'Temperature Trend',
                hAxis: {},
                vAxis: { title: 'Temperature' }
            };

            var model = convertModel();

            for (var n = 0; n < model.length; n++) {
                data_humidity.addRows([
                    [n, model[n].Humidity],
                ]);

                data_temperature.addRows([
                    [n, model[n].Temperature],
                ]);
            }

            var chart_humidity = new google.visualization.LineChart(document.getElementById('chart_div_humidity'));
            chart_humidity.draw(data_humidity, options_humidity);

            var chart_temperature = new google.visualization.LineChart(document.getElementById('chart_div_temperature'));
            chart_temperature.draw(data_temperature, options_temperature);
        }

        function convertModel() {
            var model = [];
            @foreach (var item in Model)
            {
                @:model.push({
                @:Temperature: @item.TemperatureValue,
                @:Humidity: @item.HumidityValue,
                @:});
            }
            console.log(model);
            return model;
        }
    </script>

</head>

<body style="font-family:Verdana;color:#aaaaaa;" onload="DrawCharts()">

    <div style="background-color:mediumaquamarine;padding:15px;text-align:center;">
        <h1 style="color:white">Smart Building</h1>
    </div>

    <div style="overflow:auto">
        <div class="menu">
            <div class="menuitem"> <a href="@Url.Action("Index", "Home")">Home</a> </div>
            <div class="menuitem"> <a href="@Url.Action("AlarmTrendAsync", "AlarmTrend")">Alarms Trends</a> </div>
            <div class="menuitem"> <a href="@Url.Action("TemperatureVariationAsync", "TemperatureVariation")">Temperature Variation</a></div>
        </div>

        <div class="main">
            <h2 style="color:white">Temperature & Humidity Trends</h2>
            <div style="padding:20px;width:100%; height:100%" id="chart_div_temperature"></div>
            <div style="padding:20px; width:100%; height:100%" id="chart_div_humidity"></div>
        </div>
    </div>

    <div style="background-color:mediumaquamarine;text-align:center;padding:10px;margin-top:7px; color:white">© Copyright Andrea Nicolini - University of Bologna</div>

</body>
</html>