﻿<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: aquamarine;
        }

        .ui-datepicker-calendar {
            display: none;
        }

        * {
            box-sizing: border-box;
        }

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: cornflowerblue;
        }

        .menu {
            float: left;
            width: 20%;
            text-align: center;
        }

        .menuitem {
            background-color: mediumaquamarine;
            padding: 10px;
            min-width: 290px;
            margin-top: 7px;
            color: white;
        }

        .main {
            float: left;
            width: 60%;
            min-width: 350px;
            padding: 0 20px;
        }

        .right {
            background-color: mediumaquamarine;
            float: left;
            width: 20%;
            min-width: 290px;
            padding: 15px;
            margin-top: 7px;
            text-align: center;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            $('.date-picker').datepicker(
                {
                    dateFormat: "mm/yy",
                    changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
                    onClose: function (dateText, inst) {

                        function isDonePressed() {
                            return ($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1);
                        }

                        if (isDonePressed()) {
                            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                            $(this).datepicker('setDate', new Date(year, month, 1)).trigger('change');

                            $('.date-picker').focusout()//Added to remove focus from datepicker input box on selecting date
                        }
                    },
                    beforeShow: function (input, inst) {

                        inst.dpDiv.addClass('month_year_datepicker')

                        if ((datestr = $(this).val()).length > 0) {
                            year = datestr.substring(datestr.length - 4, datestr.length);
                            month = datestr.substring(0, 2);
                            $(this).datepicker('option', 'defaultDate', new Date(year, month - 1, 1));
                            $(this).datepicker('setDate', new Date(year, month - 1, 1));
                            $(".ui-datepicker-calendar").hide();
                        }
                    }
                })
        });
    </script>

</head>

<body style="font-family:Verdana;color:#aaaaaa;">

    

    <div style="background-color:mediumaquamarine;padding:15px;text-align:center;">
        <h1 style="color:white">Smart Building</h1>
    </div>

    <div style="overflow:auto">
        <div class="menu">
            <div class="menuitem"> <a href="@Url.Action("Index", "Home")">Home</a> </div>
            <div class="menuitem"> <a href="@Url.Action("AlarmTrendAsync", "AlarmTrend")">Alarms Trends</a> </div>
            <div class="menuitem"> <a href="@Url.Action("TemperatureVariationAsync", "TemperatureVariation")">Temperature Variation</a></div>
        </div>

        <div class="main">
            <h2 style="color:white">Specify which room you would like to analyze</h2>

            @using (Html.BeginForm("RoomTrendAsync", "RoomTrend", FormMethod.Post))
            {
                <input asp-for="RoomNumber" name="RoomNumber" type="number" id="RoomNumber" placeholder="Room Number" />
                <input asp-for="FloorNumber" name="FloorNumber" type="number" id="FloorNumber" placeholder="Floor Number" />
                <input asp-for="Date" name="Date" id="Date" class="date-picker" />
                <input class="button" id="submit" type="submit" value="Search" />
             } 
            <p style="color:red">@Html.ValidationMessage("ERROR")</p>          
        </div>
    </div>

    <div style="background-color:mediumaquamarine;text-align:center;padding:10px;margin-top:7px; color:white">© Copyright Andrea Nicolini - University of Bologna</div>

</body>
</html>