﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background-color: aquamarine;
        }

        * {
            box-sizing: border-box;
        }

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: cornflowerblue;
        }

        .menu {
            float: left;
            width: 20%;
            text-align: center;
        }

        .menuitem {
            background-color: mediumaquamarine;
            padding: 10px;
            min-width: 290px;
            margin-top: 7px;
            color: white;
        }

        .main {
            float: left;
            width: 60%;
            min-width: 350px;
            padding: 0 20px;
        }

        .right {
            background-color: mediumaquamarine;
            float: left;
            width: 20%;
            min-width: 290px;
            padding: 15px;
            margin-top: 7px;
            text-align: center;
        }
    </style>

</head>

<body style="font-family:Verdana;color:#aaaaaa;">

    <div style="background-color:mediumaquamarine;padding:15px;text-align:center; content">
        <h1 style="color:white">Smart Building</h1>
    </div>

    <div style="overflow:auto">
        <div class="menu">
            <div class="menuitem"> <a href="@Url.Action("RoomSelector", "RoomTrend")">Temperature Trends</a> </div>
            <div class="menuitem"> <a href="@Url.Action("AlarmTrendAsync","AlarmTrend")">Alarms Trends</a> </div>
            <div class="menuitem"> <a href="@Url.Action("TemperatureVariationAsync", "TemperatureVariation")"> Temperature Variation</a> </div>
        </div>

        <div class="main">
            <h2 style="color:white">Smart Building Manager</h2>
            <p style="color:white">Thanks to this management system you can plot the data collected over time by the pervasive and distributed system installed in the building.</p>
        </div>

        <div class="right">
            <h2 style="color:white">About</h2>
            <p style="color:white">Realized using Microsoft ASP.NET MVC</p>
        </div>
    </div>

    <div style="background-color:mediumaquamarine;text-align:center;padding:10px;margin-top:7px; color:white">© Copyright Andrea Nicolini - University of Bologna</div>

</body>
</html>