﻿<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            background-color: aquamarine;
        }

        .ui-datepicker-calendar {
            display: none;
        }

        * {
            box-sizing: border-box;
        }

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: cornflowerblue;
        }

        .menu {
            float: left;
            width: 20%;
            text-align: center;
        }

        .menuitem {
            background-color: mediumaquamarine;
            padding: 10px;
            min-width: 290px;
            margin-top: 7px;
            color: white;
        }

        .main {
            float: left;
            width: 60%;
            min-width: 350px;
            padding: 0 20px;
        }

        .right {
            background-color: mediumaquamarine;
            float: left;
            width: 20%;
            min-width: 290px;
            padding: 15px;
            margin-top: 7px;
            text-align: center;
        }
    </style>

    <script type="text/javascript">

        function DrawChart() {

            var chartDiv = document.getElementById('chart_div');

            var classicOptions = {
                width: 900,
                series: { 0: { targetAxisIndex: 0 } },
                title: 'Trends of the alarm events of each room',
                vAxes: { 0: { title: 'Number of events' } }
            };

            var model = convertModel();

            var dataArray = [['Room', 'Intrusion Alarm', 'Fire Alarm']];
            for (i = 0; i < model.length; i++) {
                dataArray.push(["Room " + model[i].RoomID, model[i].Intrusion, model[i].Fire], );
            }

            var data = google.visualization.arrayToDataTable(dataArray);

            var classicChart = new google.visualization.ColumnChart(chartDiv);
            classicChart.draw(data, classicOptions);
        }

        function convertModel() {
            var model = [];
            @foreach (var item in Model)
            {
                @:model.push({
                @:RoomID: '@item[0]',
                @:Intrusion: @item[1],
                @:Fire: @item[2],
                @:});
            }
            return model;
        }
    </script>

</head>

<body style="font-family:Verdana;color:#aaaaaa;" onload="DrawChart()">

    <div style="background-color:mediumaquamarine;padding:15px;text-align:center;">
        <h1 style="color:white">Smart Building</h1>
    </div>

    <div style="overflow:auto">
        <div class="menu">
            <div class="menuitem"> <a href="@Url.Action("RoomSelector", "RoomTrend")">Temperature Trends</a> </div>
            <div class="menuitem"> <a href="@Url.Action("Index", "Home")">Home</a> </div>
            <div class="menuitem"><a href="@Url.Action("TemperatureVariationAsync", "TemperatureVariation")">Temperatures Variation</a></div>
        </div>

        <div class="main">
            <h2 style="color:white">Trend of alarm events</h2>
            <div id="chart_div" style="width: 800px; height: 500px;"></div>
        </div>
    </div>

    <div style="background-color:mediumaquamarine;text-align:center;padding:10px;margin-top:7px; color:white">© Copyright Andrea Nicolini - University of Bologna</div>

</body>
</html>